.row {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
  height: 36px;
  align-items: center;
}

.text {
  flex: 1;
  color: #252628;
  display: flex;
  align-items: center;
  gap: 6px;
}

.status {
  width: 200px;
  color: #636363;
}
