.container {
  margin-left: -14px;
  border-radius: 8px 0 0 8px;
}

.container:hover {
  background-color: var(--n15);
}

.row {
  display: flex;
  border-bottom: 1px solid var(--n40);
  font-size: 14px;
  align-items: center;
  margin-left: 14px;
}

.text {
  border: 1px solid transparent;
  flex: 1;
  display: flex;
  gap: 6px;
  border-radius: 8px;
  margin-right: 10px;
  margin-left: -14px;
  padding-left: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.text:hover {
  background-color: var(--n35);
}

.text.editing {
  border: 1px solid var(--n80);
  background-color: var(--n10);
}

.text span {
  cursor: text;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  color: var(--n70);
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  user-select: none;
}

.text textarea {
  width: 100%;
  border: 0;
  outline: 0;
  color: var(--n70);
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  appearance: none;
  resize: none;
  line-height: 20px;
  font-family: var(--font);
  padding-top: 4px;
  padding-bottom: 4px;
}

.status {
  width: 200px;
  color: var(--n60);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
