.container {
  display: flex;
  padding: 10px 0 10px 10px;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.userInfo:hover {
  background-color: #ebebeb;
}

.avatar {
  height: 26px;
  width: 26px;
  border-radius: 10px;
}

.userInfo span {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
}

.optionsModal {
  position: absolute;
  top: calc(100% - 10px);
  left: 16px;
  width: 200px;
  background-color: #ffffff;
  display: none;
  z-index: 800;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 3px 0;
  box-shadow:
    0px 9px 24px -3px rgba(0, 0, 0, 0.16),
    0px 4px 8px -1px rgba(0, 0, 0, 0.08);
  flex-direction: column;
}

.optionsModal.open {
  display: flex;
}

.hideSidebar {
  margin-right: 10px;
  padding: 6px;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hideSidebar:hover {
  background-color: #eee;
}

.userInfo img,
.userInfo span,
.userInfo svg {
  pointer-events: none;
}
