.row {
  display: flex;
  border-bottom: 1px solid var(--n40);
  font-size: 14px;
  height: 36px;
  align-items: center;
}

.text {
  flex: 1;
  color: var(--n70);
  display: flex;
  align-items: center;
  gap: 6px;
}

.status {
  width: 200px;
  color: var(--n60);
}

.input {
  height: 36px;
  border: 1px solid var(--n80);
  border-radius: 10px;
  width: 100%;
  padding: 0 10px;
  margin-left: -10px;
  margin-right: 10px;
  outline: 0;
  color: var(--n70);
}
