.table {
  margin-top: 20px;
  width: 100%;
}

.tableHeader {
  display: flex;
  border-bottom: 1px solid var(--n40);
  height: 24px;
  font-size: 14px;
}

.taskHeader {
  flex: 1;
  color: var(--n70);
  user-select: none;
}

.statusHeader {
  width: 300px;
  color: var(--n60);
  user-select: none;
}
