.status {
  font-size: 14px;
  font-weight: 400px;
  border-radius: 4px;
  padding: 2px 4px;
  display: inline-flex;
}

.white {
  background-color: #ffffff;
  color: #292929;
}

.orange {
  background-color: #fff2dc;
  color: #906500;
}

.green {
  background-color: #e9f7de;
  color: #3c7c00;
}
