.status {
  font-size: 14px;
  font-weight: 400px;
  border-radius: 4px;
  padding: 2px 4px;
  display: inline-flex;
  user-select: none;
}

.white {
  background-color: var(--n10);
  color: var(--n70);
}

.orange {
  background-color: var(--inProgressFade);
  color: var(--inProgress);
}

.green {
  background-color: var(--doneFade);
  color: var(--done);
}

.hideIt {
  opacity: 0;
}
