.container {
  background-color: #f8f8f8;
  width: 260px;
  height: 100vh;
  border-right: 1px solid #ebebeb;
  display: none;
  flex-direction: column;
}

.container.open {
  display: flex;
}

.logo {
  padding: 20px;
}

.logo svg {
  width: 100px;
  height: 16px;
}

.list {
  padding: 10px;
  list-style: none;
  flex: 1;
}

.list li {
  margin-bottom: 1px;
}

.new {
  margin-top: 20px;
  color: #636363;
  text-decoration: none;
  padding: 0 12px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
}

.new:hover {
  color: #252628;
}
